
<h1>All Authors</h1>
<br>
<% if @authors != nil %>
   <% @authors.each do |author| %>
      <h3><%= author.name %></h3> 
      <h5>Created At: <%= author.created_at %></h5>
   <% end %>
<% end %>
<br>
<a href="/">Back to Home</a>