
<h1>All Authors</h1>
<br>
<% if @authors != nil %>
   <% @authors.each do |author| %>
      <h3><%= author.name %></h3> 
      <h5>Created At: <%= author.created_at %></h5>
      <%=link_to("Edit #{author.name}", "/authors/#{author.id}/edit")%>
   <% end %>
<% end %>
<br>
<a href="/books">Book Index</a>
<a href="/authors/new">New Author</a>