<h1>Welcome to the Book and Author Manager</h1>

<ul>
  <li><a href="/books">Book Index</a></li>
  <li><a href="/books/new">New Book</a></li>
  <br>
  <li><a href="/authors">Author Index</a></li>
  <li><a href="/authors/new">New Author</a></li>
</ul>